<% var title='Kayıt Ol' ; %>
    <% var body=` <div class="card shadow-lg">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Yeni Hesap Oluştur</h3>

            ${hata ? `<div class="alert alert-danger" role="alert">${hata}</div>` : ''}

            <form action="/kayit" method="POST">
                <div class="mb-3">
                    <label for="kullaniciAdi" class="form-label">Kullanıcı Adı:</label>
                    <input type="text" id="kullaniciAdi" name="kullaniciAdi" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="sifre" class="form-label">Şifre:</label>
                    <input type="password" id="sifre" name="sifre" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">Kayıt Ol</button>
            </form>
            <p class="text-center mt-3">Zaten hesabın var mı? <a href="/giris">Giriş Yap</a></p>
        </div>
        </div>
        `; %>
        <%- include('layout', { title: title, body: body }) %>